@media (max-width: 991px) and (min-width: 768px){

    .container{
        width: 100% !important;
        max-width: 991px;
    }

    .container-inside{
        position: relative;
        width: 100% !important;
        top: 0 !important;
        padding-top: 0;
    }
    #desktop{
        display: none;
    }
    .mini{
        display: none;
    }
    main{
        padding-top: 78px;
    }

    #mobile{
        display: block;
        position: fixed;
        z-index: 10000000;
        width: 100%;
        height: 78px;
        background: #1F1E1E;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
        padding: 15px 26px 15px 15px;
    }

    header #mobile-logo{
        display: inherit;
        float: left;
    }

    .mobile-user_basket{
        display: flex;
        justify-content: space-between;
        width: 171px;
        position: relative;
        float: right;
        top: 8px;
    }
    .mobile-user_basket i {
        color: white;
        position: absolute;
        left: 10px;
    }
    .basket-container{
        display: block;
        position: static;
        width: 113px;
    }

    #menu{
        display: block;
        cursor: pointer;
    }
    #menu object{
        pointer-events: none;
    }

    .footer-row{
        padding-top: 37px;
    }

    .footer-nav{
        display: none;
    }
    .row{
        margin-left: 0;
        margin-right: 0;
        justify-content: space-around;
    }

    .contact-social{
        margin-top: 55px;
    }

    .contact{
        margin-left: 0;
    }

    #promotion{
        width: 676px;
    }

    .rating h2{
        width: 325px;
        height: 24px;
        font-size: 23px;
        padding-bottom: 30px;
    }
    .rating{
        width: 547px;
        margin-bottom: 42px;
    }
    .product-card{
        width: 242px;
        height: 344.56px;
        margin-top: 42px;
        margin-right: 63px;
    }
    .product-card:nth-child(even){
        margin-right: 0;
    }

    .product-card:nth-child(3n+3){
        margin-right: 63px;
    }
    .product-card img{
        height: 214.34px;
    }
    .card-content{
        height: 130px;
        width: 100%;
        padding: 0 13px 17px 21px;
    }

    .card-content p{
        width: 199.36px;
        height: 36.88px;
        font-size: 14px;
    }

    .price{
        font-size: 24px;
    }
    .in_basket{
        width: 115.25px;
        height: 27px;
        font-size: 15px;
        line-height: 27px;
    }
    .page-text{
        height: 461px;
    }
    #main-photo{
        width: 393px;
        height: 461px;
    }
    #main-text{
        width: 376px;
        height: 461px;
        padding: 46px 46px;
    }
    #main-text-container{
        width: 285px;
        height: 335px;
    }
    .additional-special{
        display: none;
        justify-content: flex-end;
        align-items: center;
    }
}

@media (min-width: 375px) and (max-width: 767px) {
    .container{
        width: 100% !important;
        max-width: 768px;
    }
    .container-inside{
        position: relative;
        width: 100% !important;
        top: 0 !important;
        padding-top: 0;
    }
    #desktop{
        display: none;
    }
    .mini{
        display: none;
    }
    main{
        padding-top: 78px;
    }
    #mobile{
        display: block;
        position: fixed;
        z-index: 10000000;
        width: 100%;
        height: 78px;
        background: #1F1E1E;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
        padding: 15px 26px 15px 15px;
    }

    header #mobile-logo{
        display: inherit;
        float: left;
    }

    .basket-container{
        display: none;
    }

    .mobile-user_basket{
        display: flex;
        justify-content: flex-end;
        width: 150px;
        position: relative;
        float: right;
        top: 12px;
    }

    .menu-nav ul li:nth-child(5) span{
        display: inline;
    }
    /* delL!
    .small-red-content{
        display: none;
    }

    .if-no-login{
        display: none;
    }

     delL! */
    #mobile-basket{
        display: block;
        position: relative;
        width: 102px;
        height: 20px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        text-align: center;
        cursor: pointer;
        user-select: none;
        -moz-user-select: none;
        margin: 0 auto 20px auto;
        color: #CECECE;
        font-size: 18px;
        line-height: 20px;
    }
    .curtain-info{
        bottom: 110px;
    }

    .footer-nav{
        display: none;
    }
    .contact{
        margin-left: 0;
    }
    .footer-row {
        justify-content: space-around;
        padding-top: 37px;
    }
    .logos{
        width: unset;
    }
    .row{
        margin-right: unset;
    }

    .contact-social{
        margin-top: 58px;
    }

    .modal-window{
        width: 286px;
        height: 320px;
    }

    .choose-type-container{
        flex-direction: row;
        width: 100%;
        height: 40px;
        align-items: center;
    }

    #plate{
        width: 375px;
        height: 228px;
        transform: rotate(-180deg);
    }

    #promotion{
        width: 345px;
        height: 208px;
        margin-bottom: 19px;
    }

    #slider-points{
        right: 18px;
        top: 55px;
    }

    .promotion-text{
        width: 280px;
        font-size: 18px;
    }

    .rating h2{
        width: max-content;;
        height: 24px;
        font-size: 20px;
        padding-bottom: 30px;
    }

    .rating{
        width: 100%;
    }

    .row-rating{
        flex-direction: column;
        align-items: center;
    }

    .product-card:nth-child(even){
        margin-right: 0;
    }

    .product-card:nth-child(3n+3){
        margin-right: 0;
    }

    .product-card{
        margin-right: 0;
        width: 256px;
        height: 365px;
    }

    .product-card img{
        height: 227px;
    }

    .card-content h4{
        font-size: 21px;
        width: 100%;
    }

    .card-content{
        height: 138px;
        width: 100%;
        padding: 0 14px 15px 23px;
    }

    .card-content p{
        width: 210px;
        height: 39px;
        font-size: 14px;
    }

    .price{
        font-size: 24px;
    }
    .in_basket{
        width: 115px;
    }

    .page-text{
        width: 100%;
        height: 845px;
        flex-direction: column;
    }
    #main-photo{
        width: 100%;
        order: 2;
    }
    #main-text{
        width: 100%;
        padding: 46px 46px;
        order: 1
    }
    #main-text-container{
        width: 100%;
        height: 335px;
    }
    .additional-special{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        padding-left: 14px;
        padding-right: 14px;
        bottom: 0;
        z-index: 100;
        position: fixed;
    }
    .additional-cart{
        display: block;
    }

}

@media (min-width: 320px) and (max-width: 374px){
    .container{
        width: 100% !important;
        max-width: 768px;
    }
    .container-inside{
        position: relative;
        width: 100% !important;
        top: 0 !important;
        padding-top: 0;
    }
    #desktop{
        display: none;
    }
    .mini{
        display: none;
    }

    main{
        padding-top: 78px;
    }

    #mobile{
        display: block;
        position: fixed;
        z-index: 100000000;
        width: 100%;
        height: 78px;
        background: #1F1E1E;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
        padding: 15px 26px 15px 15px;
    }

    header #mobile-logo{
        display: inherit;
        float: left;
    }

    .basket-container{
        display: none;
    }

    .mobile-user_basket{
        display: flex;
        justify-content: flex-end;
        width: 100px;
        position: relative;
        float: right;
        top: 12px;
    }

    .menu-nav ul li:nth-child(5) span{
        display: inline;
    }

    .menu-nav ul {
        max-height: 45%;
        padding-left: 45px;
    }

    #mobile-basket{
        display: block;
        position: relative;
        width: 102px;
        height: 20px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        text-align: center;
        cursor: pointer;
        user-select: none;
        -moz-user-select: none;
        margin: 0 auto 20px auto;
        color: #CECECE;
        font-size: 18px;
        line-height: 20px;
    }
    .curtain-info{
        bottom: 110px;
    }

    .footer-nav{
        display: none;
    }
    .contact{
        margin-left: 0;
        padding-left: 3px;
    }
    .footer-row {
        justify-content: space-around;
        padding-top: 37px;
    }
    .logos{
        width: unset;
    }
    .row{
        margin-right: unset;
    }

    .footer-raki-logo embed {
        width: 140px;
        height: 70px;
    }
    .footer-octo-logo embed {
        width: 140px;
        height: 70px;
        margin-top: -15px;
    }

    .contact-info{
        text-align: center;
    }

    #contact-num{
        font-size: 14px;
    }

    #contact-email{
        font-size: 13px;
    }
    .modal-window{
        width: 286px;
        height: 320px;
    }

    .choose-type-container{
        flex-direction: row;
        width: 100%;
        height: 40px;
        align-items: center;
    }
    #plate{
        width: 320px;
        height: auto;
        transform: rotate(-180deg);
    }

    #promotion{
        width: 320px;
        height: 208px;
        margin-bottom: 19px;
    }

    #slider-points{
        right: 18px;
        top: 55px;
    }

    .promotion-text{
        width: 275px;
        font-size: 18px;
    }

    .rating h2{
        width: max-content;;
        height: 20px;
        font-size: 23px;
        padding-bottom: 30px;
    }

    .rating{
        width: 100%;
    }

    .row-rating{
        flex-direction: column;
        align-items: center;
    }

    .product-card:nth-child(even){
        margin-right: 0;
    }

    .product-card:nth-child(3n+3){
        margin-right: 0;
    }

    .product-card{
        margin-right: 0;
        width: 256px;
        height: 365px;
    }

    .product-card img{
        height: 227px;
    }

    .card-content h4{
        font-size: 21px;
        width: 100%;
    }

    .card-content{
        height: 138px;
        width: 100%;
        padding: 0 14px 15px 23px;
    }

    .card-content p{
        width: 210px;
        height: 39px;
        font-size: 14px;
    }

    .price{
        font-size: 24px;
    }
    .in_basket{
        width: 115px;
    }

    .page-text{
        width: 100%;
        height: 845px;
        flex-direction: column;
    }
    #main-photo{
        width: 100%;
        order: 2;
    }
    #main-text{
        width: 100%;
        padding: 46px 46px;
        order: 1
    }
    #main-text-container p {
        font-size: 16px;
    }
    #main-text-container{
        width: 100%;
        height: 335px;
    }
    .additional-special{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        padding-left: 14px;
        padding-right: 14px;
        bottom: 0;
        z-index: 100;
        position: fixed;
    }
    .additional-cart{
        display: block;
    }

    .fast-order-big{
        margin-top: 20px;
    }
}
@media (max-width: 736px) and (min-width: 568px) {
    .additional-nav{
        margin: 0 auto !important;
        width: 500px !important;
    }
}

@media (max-height: 414px) and (min-height: 320px) {
    .curtain-info{
        display: none;
    }
}

/*
@media (max-device-height: 1024px) and (max-width: 991px) {
    footer{
        position: absolute;
        top: unset;
    }
    .container-inside{
        top:0;

    }
    .footer-row{
        padding-top: 29px;
    }
} */
