@media (max-width: 991px) and (min-width: 768px){
    .if-no-login{
        padding-left: 44px;
        padding-right: 46px;
        margin-bottom: 0;
    }
    .red-content{
        width: 768px;
    }
    #map-block{
        width: 368px;
    }

    .small-red-content{
        margin-top: 0;
    }

    .login-with{
        padding-top: 9px;
        padding-bottom: 30px;
        font-weight: 300;
        font-size: 14px;
        color: #FFFFFF;
    }

    .additional-nav{
        display: block;
        height: 69px;
        width: 100%;
        padding-top: 14px;
        padding-bottom: 25px;
    }

    .additional-nav-container{
        width: 530px;
        height: 30px;
        position: relative;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    .additional-nav-item{
        width: 150px;
        height: 30px;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 30px;
        text-align: center;
        color: #FFFFFF;
        background: #F13A3A;
        cursor: pointer;
    }

    .nav-item-grey{
        background: #706E6E;
        width: 159px;
    }
    .red{
        background: #F13A3A;
    }

}

@media (min-width: 375px) and (max-width: 767px){

    .attention-pt{
        padding-top: 1rem;
    }

    .additional-nav{
        display: block;
        height: 69px;
        width: 100%;
        padding-top: 7px;
        padding-bottom: 25px;
    }
    .make-order-height{
        height: 1110px !important;
    }

    .additional-nav-container{
        width: 100%;
        height: 30px;
        position: relative;
        margin: unset;
        display: flex;
        justify-content: space-between;
        overflow-x: hidden;
    }

    .additional-nav-item{
        width: 150px;
        height: 30px;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        color: #FFFFFF;
        background: #F13A3A;
        cursor: pointer;
    }

    .small-red-content{
        margin: 7px auto 0 auto;
        width: 286px;
        height: 375px;
    }

    .form-container {
        position: relative;
        width: 100%;
        margin: 0 auto;
        z-index: 100;
    }

    footer{
        position: relative;
        top:unset;
    }

    .form-title{
        padding-left: 19px;
    }

    #subtitle{
        font-size: 14px;
    }

    #title{
        font-size: 18px;
    }

    .login-input-container {
        width: 100%;
        height: max-content;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
    }

    .nav-item-grey{
        background: #706E6E;
        width: 159px;
        font-size: 16px;
    }

    .login-input{
        width: 200px;
    }

    .remeber_me{
        margin-top: 22px;
    }

    .login-button{
        width: 195px;
        margin-top: 25px;
        font-size: 18px;
    }
    .forgot-pass{
        font-size: 18px;
    }
    .if-no-login{
        height: 130px;
        width: 255px;
    }

    .login-with{
        padding-bottom: 24px;
        padding-top: 14px;
        font-size: 10px;
        color: gray;
    }

    .login-with-container{
        display: block;
        height: 100px;
    }

    .social-container {
        display: flex;
        width: 100%;
        justify-content: space-around;
    }

    .social{
        width: 59px;
        height: 28px;
    }

    .social embed{
        width: 19px;
        height: 19px
    }
    .register-button{
        margin-left: -28px;
        margin-top: 34px;
    }

    .input-reg-container{
        width: 195px;
        height: max-content;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 30px;

    }

    .validation-mess{
        width: 200px;
    }

    .invalid-input{
        background-position: 175px 9px;
    }

    .reg{
        height: 70px;
    }

    #map-block{
        display: none;
    }

    .order-block{
        width: 100%;
        height: 1005px;
        float: none;
        display: block;
    }

    .red-content{
        width: 100%;
        height: max-content;
        margin-bottom: 0;
    }

    #map-block-inform{
        display: block;
        width: 100%;
        height: 396px;
        margin-top: 28px;
    }

    .order-form{
        width: 100%;
        padding: 0 0 0 0;
    }
    .order-input{
        margin-right: auto;
        margin-left: auto;
    }
    .form-row {
        margin-right: auto;
        margin-left: auto;
        width: 300px;
    }
    .delivery-type{
        margin-right: auto;
        margin-left: auto;
    }

    .checkout-order{
        margin-top: 34px;
    }

    .attention-promotion{
        width: 286px;
    }

    .attention-title{
        font-size: 16px;
    }

    .attention-subtitle{
        font-size: 14px;
    }
    .attention-height{
        height: 299px;
    }

    .promotion-title{
        width: 260px;
        padding-top: 36px;
    }

    .bonuses-in-attention{
        width: 134px;
        height: 24px;
        font-size: 24px;
        top: 12px;
        right: 40px;
    }

    .bonuses-in-attention:after{
        right: -26px;
        top: 0;
    }

    .scale{
        width: 255px;
        margin-top: 24px;
    }
    .scale-section{
        width: 30px;
    }
    .red{
        background: #F13A3A;
    }

    .check-shopping{
        width: 340px;
        text-align: center;
        padding-top: 50px;
        padding-bottom: 10px;
        height: 90px;
    }

    .check-shopping p{
        display: none;
    }

    .cart-container{
        width: 370px;
        left: 0;
        height: 400px;
        padding-left: 0;
        padding-right: 32px;
    }
    .cart-container h3{
        color: white;
        margin-left: 20px;
    }

    .order-container{
        right: 0;
        top: 0;
    }
    .order {
        width: 285px;
        height: 140px;
        margin-top: 35px;
        float: right;
    }
    .order-container:nth-child(1) .order{
        margin-top: 0;
    }

    .delete-from-cart{
        float: right;
        position: relative;
        top: 90px;
        z-index: 10;
        right: 10px;
    }

    .order-container:nth-child(1) .delete-from-cart{
        top: 50px;
    }

    .delete-from-cart svg{
        width: 35px;
        height: 35px;
    }
    .delete-from-cart svg path{
        fill: #991A1A;
    }
    .order img{
        display: block;
        object-fit: cover;
        width: 100%;
        float: none;
        filter: brightness(80%);
    }

    .order-product-name{
        position: absolute;
        top: 0;
        float: none;
        display: block;
        padding-top: 25px;
        padding-left: 31px;
        width: 240px;
        font-weight: 900;
        white-space: nowrap; /* Запрещаем перенос строк */
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .quantity{
        margin-left: 17px;
        width: 152px;
    }
    .plus ,.minus{
        font-size: 52px;
    }
    .minus{
        top: 12px;
    }
    .quantity-res{
        border: none;
    }
    .quantity-res input{
        background: #FFFFFF;
        color: #681616;
    }
    .order-price{
        width: 115px;
    }
    .final{
        width: 160px;
        font-size: 24px;
    }
    .summary{
        padding-left: 15px;
        padding-right: 15px;
    }
    .checkout{
        width: 171px;
    }

}

@media (min-width: 320px) and (max-width: 374px) {
    .attention-pt{
        padding-top: 1rem;
    }

    .additional-nav{
        display: block;
        height: 69px;
        width: 100%;
        padding-top: 7px;
        padding-bottom: 25px;
    }

    .additional-nav-container{
        height: 30px;
        position: relative;
        margin: unset;
        display: block;
    }

    .additional-nav-item{
        width: 150px;
        height: 30px;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        color: #FFFFFF;
        background: #F13A3A;
        cursor: pointer;
    }

    .nav-item-grey{
        background: #706E6E;
        width: 159px;
        font-size: 16px;
    }

    .small-red-content{
        margin: 7px auto 0 auto;
        width: 286px;
        height: 375px;
    }

    .form-container {
        position: relative;
        width: 100%;
        margin: 0 auto;
        z-index: 100;
    }

    footer{
        position: relative;
        top:unset;
    }

    .form-title{
        padding-left: 19px;
    }

    #subtitle{
        font-size: 14px;
    }

    #title{
        font-size: 18px;
    }

    .login-input-container {
        width: 100%;
        height: max-content;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
    }

    .login-input{
        width: 200px;
    }

    .remeber_me{
        margin-top: 22px;
    }

    .login-button{
        width: 195px;
        margin-top: 25px;
        font-size: 18px;
    }
    .forgot-pass{
        font-size: 18px;
    }
    .if-no-login{
        height: 130px;
        width: 255px;
    }

    .login-with{
        padding-bottom: 24px;
        padding-top: 14px;
        font-size: 10px;
        color: gray;
    }

    .login-with-container{
        display: block;
        height: 100px;
    }

    .social-container {
        display: flex;
        width: 100%;
        justify-content: space-around;
    }

    .social{
        width: 59px;
        height: 28px;
    }

    .social embed{
        width: 19px;
        height: 19px
    }
    .register-button{
        margin-left: -28px;
        margin-top: 34px;
    }

    .input-reg-container{
        width: 195px;
        height: max-content;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 30px;

    }

    .validation-mess{
        width: 200px;
    }

    .invalid-input{
        background-position: 175px 9px;
    }

    .reg{
        height: 70px;
    }

    #map-block{
        display: none;
    }

    .order-block{
        width: 100%;
        height: 1005px;
        float: none;
        display: block;
    }

    .red-content{
        width: 100%;
        height: max-content;
        margin-bottom: 0;
    }

    #map-block-inform{
        display: block;
        width: 100%;
        height: 396px;
        margin-top: 28px;
    }

    .order-form{
        width: 100%;
        padding: 0 0 0 0;
    }
    .order-input{
        margin-right: auto;
        margin-left: auto;
    }
    .form-row {
        margin-right: auto;
        margin-left: auto;
        width: 300px;
    }
    .delivery-type{
        margin-right: auto;
        margin-left: auto;
    }

    .checkout-order{
        margin-top: 34px;
    }

    .attention-promotion{
        width: 286px;
    }

    .attention-title{
        font-size: 16px;
    }

    .attention-subtitle{
        font-size: 14px;
    }

    .attention-height{
        height: 299px;
    }

    .promotion-title{
        width: 260px;
        padding-top: 36px;
    }

    .bonuses-in-attention{
        width: 134px;
        height: 24px;
        font-size: 24px;
        top: 12px;
        right: 40px;
    }

    .bonuses-in-attention:after{
        right: -26px;
        top: 0;
    }
    .scale{
        width: 255px;
        margin-top: 24px;
    }
    .scale-section{
        width: 30.36px;
    }

    .red{
        background: #F13A3A;
    }

    .check-shopping{
        width: 320px;
        text-align: center;
        padding-top: 50px;
        padding-bottom: 10px;
        height: 90px;
    }

    .check-shopping p{
        display: none;
    }

    .cart-container{
        width: 320px;
        left: 0;
        height: 400px;
        padding-left: 0;
        padding-right: 12px;
    }

    .cart-container h3{
        color: white;
        margin-left: 20px;
    }

    .order-container{
        right: 0;
        top: 0;
    }
    .order {
        width: 270px;
        height: 140px;
        margin-top: 35px;
        float: right;
    }
    .order-container:nth-child(1) .order{
        margin-top: 0;
    }

    .delete-from-cart{
        float: right;
        position: relative;
        top: 90px;
        z-index: 10;
        right: 7px;
    }

    .order-container:nth-child(1) .delete-from-cart{
        top: 50px;
    }

    .delete-from-cart svg{
        width: 25px;
        height: 25px;
    }
    .delete-from-cart svg path{
        fill: #991A1A;
    }
    .order img{
        display: block;
        object-fit: cover;
        width: 100%;
        float: none;
        filter: brightness(80%);
    }

    .order-product-name{
        position: absolute;
        top: 0;
        float: none;
        display: block;
        padding-top: 25px;
        padding-left: 31px;
        width: 240px;
        font-weight: 900;
        white-space: nowrap; /* Запрещаем перенос строк */
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .quantity{
        margin-left: 17px;
        width: 152px;
    }
    .plus ,.minus{
        font-size: 52px;
    }
    .minus{
        top: 12px;
    }
    .quantity-res{
        border: none;
    }
    .quantity-res input{
        background: #FFFFFF;
        color: #681616;
    }
    .order-price{
        width: 101px;
    }
    .final{
        width: 160px;
        font-size: 24px;
    }
    .summary{
        padding-left: 15px;
        padding-right: 15px;
    }
    .checkout{
        width: 171px;
    }
    .make-order-height{
        height: 1110px !important;
    }
}