@media (max-width: 991px) and (min-width: 768px) {
    .user-tabs{
        display: none;
    }
    #lobster{
        left: -70px;
        transform: rotate(-45deg);
        top: -90px;
    }
}

@media (min-width: 375px) and (max-width: 767px){
    #lobster{
        left: -50px;
        transform: rotate(-45deg);
        top: -60px;
        width: 247px;
        height: 234px;
    }

    .resetpass-container{
        margin: 0 auto 30px;
    }

    .reset-pass-title{
        font-size: 18px;
        font-weight: unset;
    }
    .reset-forgot-pass{
        font-size: 14px;
        font-weight: 900;
        margin-top: 10px;
    }

    .user-red-content{
        width: 100%;
        height: 700px;
    }

    .user-tabs{
        display: none;
    }

    .user-title{
        width: 230px;
        padding-top: 20px;
        text-align: center;
        height: max-content;
    }

    .input-user-container{
        width: 100%;
        align-items: center;
        flex-direction: column;
        margin-bottom: 10px;
    }
    #user-map{
        width: 100%;
        height: 292px;
    }

    .save-button-user{
        width: 195px;
        font-size: 18px;
        background: #FFFFFF;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        color: #F13A3A;
    }
    .item-grey{
        font-size: 15px;
    }

    .history-container{
        width: 340px;
        height: 533px;
        margin: 0 auto;
        margin-top: 24px;
    }

    .history-item{
        margin-top: 29px;
        width: 293px;
        height: 185px;
        margin-left: 15px;
    }

    .history-item:nth-child(1){
        margin-top: 0;
    }
    .history-item-img{
        width: 293px;
        height: 70px;
        float: unset;
        object-fit: cover;
    }
    .history-item-info{
        width: 293px;
        height: 95px;
        padding: 15px 16px;
        float: unset;
    }
    .order-id-date-status{
        margin-top: 0;
    }
    .order-total{
        margin-top: 23px;
    }

    .item-in-process > .history-item-info{
        border-left: 4px solid #FFFFFF;
        border-right: 4px solid #FFFFFF;
        border-bottom: 4px solid #FFFFFF;
        box-sizing: border-box;
        box-shadow: 0 4px 4px #BF2C2C;
        border-top: none;
        height: 115px;
    }

    .order-more{
        width: 300px;
        height: max-content;
    }
    .order-more-img{
        width: 300px;
        height: 70px;
        float: unset;
        object-fit: cover;
    }
    .order-more-info{
        width: 300px;
        padding: 15px 16px;
        float: unset;
        height: max-content;
    }

    .payment{
        width: 285px;
        height: 103px;
        margin-top: 15px;
        padding-top: 24px;
    }

    .payment-types{
        width: 285px;
        height: 260px;
        flex-direction: column;
        margin-top: 15px;
        justify-content: space-between;
        align-items: center;
    }

    .paymethod{
        width: 285px;
        height: 87px;
    }

    .small-height{
        height: max-content;
    }

    .show-mobile-only{
        display: block;
    }

    .logout{
        width: 35px;
        height: 35px;
        line-height: 35px;
        border-radius: 20px
    }
}

@media (min-width: 320px) and (max-width: 374px){
    #lobster{
        left: -50px;
        transform: rotate(-45deg);
        top: -60px;
        width: 247px;
        height: 234px;
    }

    .user-red-content{
        width: 100%;
        height: 700px;
    }

    .reset-pass-title{
        font-size: 18px;
        font-weight: unset;
    }
    .reset-forgot-pass{
        font-size: 14px;
        font-weight: 900;
        margin-top: 10px;
    }

    .user-tabs{
        display: none;
    }

    .user-title{
        width: 230px;
        padding-top: 20px;
        text-align: center;
        height: max-content;
    }

    .input-user-container{
        width: 100%;
        align-items: center;
        flex-direction: column;
        margin-bottom: 10px;
    }
    #user-map{
        width: 100%;
        height: 292px;
    }

    .save-button-user{
        width: 195px;
        font-size: 18px;
        background: #FFFFFF;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        color: #F13A3A;
    }

    .history-container{
        width: 340px;
        height: 533px;
        margin: 0 auto;
        margin-top: 24px;
    }

    .history-item{
        margin-top: 29px;
        width: 293px;
        height: 185px;
        margin-left: 15px;
    }

    .history-item:nth-child(1){
        margin-top: 0;
    }
    .history-item-img{
        width: 293px;
        height: 70px;
        float: unset;
        object-fit: cover;
    }
    .history-item-info{
        width: 293px;
        height: 95px;
        padding: 15px 16px;
        float: unset;
    }
    .order-id-date-status{
        margin-top: 0;
    }
    .order-total{
        margin-top: 23px;
    }

    .item-in-process > .history-item-info{
        border-left: 4px solid #FFFFFF;
        border-right: 4px solid #FFFFFF;
        border-bottom: 4px solid #FFFFFF;
        box-sizing: border-box;
        box-shadow: 0 4px 4px #BF2C2C;
        border-top: none;
        height: 115px;
    }
    .order-more{
        width: 300px;
        height: max-content;
    }
    .order-more-img{
        width: 300px;
        height: 70px;
        float: unset;
        object-fit: cover;
    }
    .order-more-info{
        width: 300px;
        padding: 15px 16px;
        float: unset;
        height: max-content;
    }
    .payment{
        width: 285px;
        height: 103px;
        margin-top: 15px;
        padding-top: 24px;
    }

    .payment-types{
        width: 285px;
        height: 260px;
        flex-direction: column;
        margin-top: 15px;
        justify-content: space-between;
        align-items: center;
    }

    .paymethod{
        width: 285px;
        height: 87px;
    }
    .small-height{
        height: max-content;
    }

    .resetpass-container{
        margin: 0 auto 30px;
    }

    .show-mobile-only{
        display: block;
    }
    .logout{
        width: 35px;
        height: 35px;
        line-height: 35px;
        border-radius: 20px
    }

}