@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,600,900&display=swap');

body, html{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

input:invalid {
    box-shadow: none;
}

.btn:hover{
    color: white;
    box-shadow: 0 0 18px rgba(0,0,0,0.5);
}

.wrapper{
    min-height: 100%;
    position: relative;
}

body{
    background-image: url("../../img/try.png");
    background-repeat: repeat-y;
    background-size: cover;
}
.container{
    width: 992px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0;
    padding-left: 0;
    display: block
}

.container-inside{
    padding-top: 39px;
    position: relative;
    margin: 0 auto;
    width: 83%;
}

header{
    position: relative;
    width: 100%;
}

#mobile{
    display: none;
}
.menu-nav{
    display: none;
}

.fast-order{
    position: absolute;
    top: 5px;
    left: 0;
    width: 160px;
    height: 29px;
    background: #F13A3A;
    box-shadow: 0 4px 10px rgba(179, 43, 43, 0.2);
    border-radius: 50px;
    font-weight: 900;
    font-size: 0.9em;
    line-height: 27px;
    color: white;
    cursor: pointer;
}
.fast-order span{
    position: relative;
    left: 32px;
    user-select: none;
    -moz-user-select: none;
    z-index: 2;
}
.fast-order:hover {
    box-shadow: 0 0 20px 5px darkred;
}
#fish-bone{
    position: absolute;
    z-index: 1;
    top: -15px;
}
.user_basket{
    position: absolute;
    top: 5px;
    right: 0;
}
.user_basket .fa-shopping-cart {
    color: white;
    position: absolute;
    left: 10px;
}
.user_basket .fa-user {
    color: white;
    border: solid white 2px;
    padding: 5px;
    border-radius: 100%;
    transition: all 0.35s ease-in;
    width: 30px;
}
.user_basket .fa-user:before {
    margin-left: 1px;
}

.user_basket .fa-user:hover {
    color: #F13A3A;
    transform: scale(1.3) rotate(360deg);
}
#user{
    position: absolute;
    right: 0;
    top: -1px;
    cursor: pointer;
}
.basket-container{
    position: absolute;
    width: 110px;
    height: 29px;
    border: 2px solid #F13A3A;
    box-sizing: border-box;
    border-radius: 50px;
    top: 0;
    right: 45px;
    background-image: url("../../img/online-shopping-cart.svg");
    background-position: 6px 5px;
    background-repeat: no-repeat;
    padding: 3px 5px 5px 30px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    transition: all 0.3s linear;
}
.basket-container:hover {
    box-shadow: 0 0 20px 5px darkred;
}
.basket-container span{
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 100%;
    color: white;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: end;
    text-align: -webkit-right;
    text-align: -moz-right;
}
/*
#basket{
    position: absolute;
    top: 3px;
    left: 11px;
}*/
#basket::after{
    content: url("../../img/circle-solid.svg");
    color: red;
}
.logo-container{
    width: 303px;
    height: 178px;
    margin: 0 auto;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.button-row{
    height: 35px;
}

#logo{
    position: relative;
    margin: 0 auto;
    display: block;
    z-index: 1;
}

#logo-text{
    position: absolute;
    width: 340px;
    height: 110px;
    z-index: 2;
    top: 108px;
}
#lipinskie{
    font-family: Raleway, sans-serif;
    font-weight: 900;
    font-size: 80px;
    line-height: 53px;
    font-variant: small-caps;
    letter-spacing: 0.02em;
    color: white;
    font-size-adjust: 0.48;
}

#raki{
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 82.18%;
    letter-spacing: 0.19em;
    color: white;
}

.crayfish{
    width: 127px;
    height: 43px;
    position: absolute;
    right: 35px;
    bottom: 1px;

    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 100%;
    color: #F13A3A;
}
.nav-row {
    margin-top: 20px;
}
nav{
    height: 34px;
    width: 80%;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 0 auto;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    padding-left: 0;
}

nav ul li{
    list-style-type: none;
    display: block;
    font-weight: 200;
    font-size: 18px;
    line-height: normal;
    color: #9e9999;
    user-select: none;
    -moz-user-select: none;
    cursor: pointer;
    transition: .2s;
}

nav ul li:hover{
    font-weight: normal;
    border-bottom: 3px solid #F13A3A;
    color: white;
}

main{
    position: relative;
    width: 100%;
}

#plate{
    position: relative;
    display: block;
    width: 75%;
    height: auto;
    margin: 0 auto;
    z-index: 1;
}

#promotion{
    position: relative;
    width: 770px;
    height: 178px;
    z-index: 2;
    margin: 0 auto 51px auto;
    background: #F13A3A;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.promotion-text{
    position: relative;
    margin: 0 auto;
    width: 82%;
    height: max-content;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
}

#promotion-percent{
    position: absolute;
    float: right;
    width: 180px;
    height: 178px;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 170%;
    color: white;
    left: 70px;
}

#slider-points{
    position: absolute;
    width: 7px;
    height: 95px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    right: 32px;
    top: 40px;
}

.ellipse{
    width: 7px;
    height: 7px;
    background-color: #981A1A;
    border-radius: 40px;
    cursor: pointer;
}

.ellipse-active{
    background-color: white;
}

.rating h2{
    font-size: 31px;
    font-style: normal;
    font-weight: 600;
    margin: 0 auto;
    width: max-content;
    position: relative;
    color: white;
    border-bottom: 3px solid #F13A3A;
    text-align: center;
}
.rating{
    width: 690px;
    position: relative;
    margin: 0 auto 82px auto;
}

.product-card{
    width: 210px;
    height: 299px;
    background: #3C3C3C;
    margin-right: 30px;
    margin-top: 29px;
    transition: all 0.2s linear;
    position: relative;
}
.product-card:hover {
    transform: scale(1.05);
    box-shadow: 1px 0 17px 5px #cc1c1c;
}
.product-card:nth-child(3n+3){
    margin-right: 0;
}

.product-card img{
    width: 100%;
    height: 186px;
    object-fit: cover;
}

.card-content{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-flow: column nowrap;
    height: 113px;
    width: 100%;
    padding: 0 11px 14px 16px;
}

.product-card h4{
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 100%;
    text-align: left;
    color: #FFFFFF;
    margin-top: 1rem;
}

.product-card p{
    width: 173px;
    max-height: 40px;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 100%;
    text-align: justify;
    margin-top: 1px;
    margin-bottom: 6px;
    position: relative;
    color: #FFFFFF;
    overflow: hidden;
}

.in_basket{
    position: relative;
    width: 115px;
    height: 22px;
    background: #F13A3A;
    border-radius: 50px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
    cursor: pointer;
    text-align: center;
    text-transform: capitalize;
    transition: all 0.2s linear;
}
.in_basket:hover {
    background: #cc1c1c;
}
.price{
    position: relative;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 100%;
    color: #FFFFFF;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.main-info{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.inbasket-continer{
    position: relative;
    width: 100%;
}

.page-text{
    position: relative;
    width: 100%;
    height: 506px;
    display: flex;
}

#main-photo{
    background-image: url("../../img/main-page-img.jpg");
    background-size: cover;
    /*width: 495px;*/
    width: 361px;
    height: 506px;
    display: block;
}

#main-text{
    /*width: 497px;
    height: 506px;
    background: #F13A3A;
    display: block;
    padding: 109px 35px 114px 35px;*/
    width: 631px;
    height: 506px;
    background: #F13A3A;
    display: block;
    padding: 24px 39px;
}
#main-text-container{
    /*width: 428px;
    height: 246px;*/
    width: 100%;
    height: max-content;
}

#main-text-container h1{

    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 100%;
    text-align: justify;
    color: #FFFFFF;
    margin-bottom: 20px;
}

#main-text-container p{

    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 100%;
    text-align: justify;
    color: #FFFFFF;
}

.readmore{
    display: none;
    margin-top: 4px;
}

.custom-button{
    width: 182px;
    height: 35px;
    box-shadow: 4px 4px 6px 1px rgba(50, 9, 9, 0.25);
    background: #FFFFFF;
    border-radius: 50px;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 100%;
    text-align: center;
    padding-top: 10px;
    color: #F13A3A;
    cursor: pointer;
}
.add-basket {
    background-size: 200% 100%;
    background-image: linear-gradient(to right, transparent 50%, #FF8080 50%);
    transition: background-position .4s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color .5s ease;
}
.add-basket:hover {
    color:rgba(255, 255, 255, 1);
    background-color: #FF8080;
    background-position: -100% 100%;
}
.clicked {
    opacity: 1!important;
    display: block;
}
@keyframes bought {
    from {
        opacity: 0;
        display: none;
    }
    to {
        opacity: 1;
        display: block;
    }
}
.fast-order-big{
    margin: 0 auto;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, transparent 50%, #FF8080 50%);
    transition: all .4s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color .5s ease;
}

.fast-order-big:hover {
    transform: scale(1.08);
    box-shadow: 7px 7px 7px 1px rgba(50, 9, 9, 0.4);
    color:rgba(255, 255, 255, 1);
    background-color: #FF8080;
    background-position: -100% 100%;
}
footer{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #212121;
    height: 218px;
}

#red-line{
    border: 7px solid #F13A3A;
    position: absolute;
    width: 100%;
    bottom: 14px;
}

.footer-row{
    width: 100%;
}

.logos{
    position: relative;
    left: 14px;
    float: left;
    width: 226px;
    height: 120px;
}

.footer-raki-logo embed{
    width: 150px;
    height: 70px;
    margin-top: -10px;
}

.contact{
    width: 161px;
    height: 104px;
    margin-left: 95px;
}

#contact-num{
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 100%;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.contact-info{
    text-align: center;
}

.contact-info a {
    transition: 0.2s;
}
.contact-info a:hover {
    text-decoration: unset;
    border-bottom: solid 2px #F13A3A;
}
#contact-email{

    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: normal;
    text-align: center;
    display: block;
    color: #CECECE;
}

.contact-social{
    z-index: 1001;
    position: relative;
    margin-top: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.contact-social i {
    color: white;
    font-size: 1.5em;
    transition: all 0.2s ease-in;
}
.contact-social i:hover {
    color: #F13A3A;
    transform: scale(1.1);
}
.footer-nav{
    width: 128px;
    height: 124px;
    margin-left: 179px;
    position: relative;
}

.footer-nav #footer-ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: -2px;
}

#footer-ul li{
    list-style-type: none;
    display: block;

    font-weight: 200;
    font-size: 18px;
    line-height: 100%;
    color: #9e9999;
    user-select: none;
    -moz-user-select: none;
    cursor: pointer;
    width: max-content;
    margin-top: 6px;
    transition: .2s;
}

#footer-ul li:hover{
    font-weight: normal;
    border-bottom: 3px solid #F13A3A;
    color: white;
}

.active-nav{
    font-weight: normal !important;
    border-bottom: 3px solid #F13A3A;
    color: white !important;
}

.footer-octo-logo{
    margin-top: 8px;
}

.footer-octo-logo embed{
    width: 150px;
    height: 70px;
}

#overlay{
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 100;
    display: none;
}
.dropdown{
    display: none;
    margin-top: .5rem;
    padding: 2px;
    column-count: 3;
    column-width: 150px;
    column-rule-style: solid;
    height: max-content;
    background: #808080e0;
    box-shadow: 0 4px 4px rgba(58, 10, 10, 0.25);
    position: absolute;
    z-index: 1000;
    right: 60px;
}
.dropdown ul{
    width: 100%;
    list-style-type: none;
    padding: 0 0 0 0;
    margin-bottom: 0;
}

.dropdown ul li{
    height: max-content;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: white;
    cursor: pointer;
    padding: 2px;
    transition: all 0.3s ease-in;
}

.dropdown ul li:hover{
    background: #f13a3a;
}
.toogle-dropdown i {
    transition: all 0.2s linear;
}
.dropdown-footer{
    right: 0;
    left: 31px;
    top: 15px;
}

#menu{
    display: block;
    cursor: pointer;
}
#menu object{
    pointer-events: none;
}

.menu-nav{
    display: none;
    height: calc(100% - 78px);
    height: -o-calc(100% - 78px); /* opera */
    height: -webkit-calc(100% - 78px); /* google, safari */
    height: -moz-calc(100% - 78px);
    width: 100%;
    position: fixed;
    z-index: 400;
    left: 0;
    top: 78px;
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: scroll;
    /*transition: 0.5s; !* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) *!*/
    background: rgba(13, 11, 11, 0.9);
}
#user-mobile{
    position: absolute;
    top: 22px;
    right: 20px;
    width: 50px;
    height: 50px;
    border: solid white 2px;
    padding: 5px;
    font-size: 2rem;
    border-radius: 100%;
    color: #F13A3A;
}
.menu-nav .fa-user:before {
    margin-left: 4px;
}
.menu-nav ul{
    list-style-type: none;
    padding-left: 60px;
    font-family: Raleway,sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 100%;
    color: #9e9999;
    overflow: scroll;
    max-height: 65%;

}
.menu-nav ul li{
    margin-top: 30px;
    width: max-content;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
}
.menu-nav ul li:hover{
    font-weight: normal !important;
    border-bottom: 3px solid #F13A3A;
    color: white !important;
}
.curtain-line{
    width: 344px;
    height: 0;
    border: 4px solid #F13A3A;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    /*margin: 0 auto;*/
    /*bottom: -webkit-calc(-100% + 40px);*/

}

.curtain-info{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 215px;
    height: 78px;
    text-align: center;

    font-style: normal;
    font-weight: 300;
    line-height: normal;
    /*bottom: -webkit-calc(-100% + 40px);*/
}

.curtain-info #phone{
    text-transform: uppercase;
    color: #CECECE;
    font-size: 21px;
}

.curtain-info #email{
    margin-top: 12px;
    font-size: 18px;
    color: #CECECE;
    display: block;
}

.curtain-info #address{
    color: #CECECE;
    font-size: 18px;
    margin-top: 6px;
    display: block;
}
.mobile-dropdown{
    display: none;
}
#mobile-basket{
    display: none;
}

.menu-nav ul li:nth-child(5) span{
    display: none;
}

.additional-nav{
    display: none;
}

.fast-order-in-mini-header{
    right: 200px;
    top: 40px;
    left: unset;
}

.modal-window, .modal-window-with-btn{
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 680px;
    height: 299px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #F13A3A;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.modal-title{
    height: max-content;
    width: 580px;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    color: white;
    z-index: 10000;
    position: relative;
    text-align: center;
}

.referral-input-container{
    width: 580px;
    display: block;
    position: relative;
    z-index: 100000;
}
.referral-input{
    width: 220px;
    margin: 0 auto;
}
.referral-change{
    width: 400px;
    display: flex;
    justify-content: space-evenly;
    height: max-content;
    margin: 10px auto 0;
}

.transparent{
    box-shadow: none;
    background-color: transparent;
    color: #FFFFFF;
    transition: background-color .5s;
}

.transparent:hover{
    box-shadow: 4px 4px 6px 1px rgba(50, 9, 9, 0.25);
    background: #FFFFFF;
    color: #F13A3A;
}

.close-modal{
    position: absolute;
    width: 25px;
    height: 25px;
    top: 13px;
    right: 13px;
    cursor: pointer;
}

.success-add{
    display: none;
    width: 270px;
    height: 62px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #F13A3A;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-style: normal;
    font-weight: 900;
    font-size: 19px;
    text-align: center;
    line-height: 62px;
    color: white;
    border-radius: 20px;
}

.choose-type-container{
    display: flex;
    width: 100%;
    margin: 25px auto;
    justify-content: space-around;
    z-index: 200;
    position: relative;
}

.forgot-pass-input{
    width: 205px;
    margin: 0 auto;
}

#lobster-2{
    position: absolute;
    left: -70px;
    transform: rotate(-45deg);
    top: -90px;
    width: 300px;
    height: 300px;
}

.row-rating{
    justify-content: normal !important;
    margin-left: 0 !important;
}

.additional-special{
    display: none;
    height: 104px;
    padding-bottom: 24px;
    padding-top: 29px;
    width: 676px;
    margin: 0 auto;
}

.additional-cart{
    display: none;
    width: 113px;
    height: 39px;
    border: 3px solid #F13A3A;
    box-sizing: border-box;
    border-radius: 50px;
    background-color: rgba(18, 18, 18, 0.6);
    background-image: url("../../img/online-shopping-cart.svg");
    background-position: 12px 10px;
    background-repeat: no-repeat;
    padding-left: 31px;

    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 33px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

.additional-fo{
    height: 49px;
    width: 160px;

    font-style: normal;
    font-weight: 900;
    font-size: 12px;
    text-align: center;
    color: #FFFFFF;
    line-height: 49px;
    cursor: pointer;
}

.additional-fo div{
    width: 49px;
    height: 49px;
    display: inline-block;
    vertical-align: middle;
    background-color: #F13A3A;
    box-shadow: 0 4px 4px rgba(104, 22, 22, 0.15);
    border-radius: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../../img/fish-bone-rotated.svg");
}

.slick-slide {
    margin: 0 13px;
    width: 150px;
}
/* the parent */
.slick-list {
    margin: 0;
}
.slick-track{
    padding: 5px 0;
}

.h-off{
  height: unset;
}
.promotion-text span:not(:first-child){
    display: none;
}
.none-text-decoration{
    text-decoration: none!important;
}
.error-container{
    width: 635px;
    margin: 108px auto 146px auto;
    display: flex;
    color: #FFFFFF;
}
.error-code{
    width: 290px;
    height: 143px;
    background: #F13A3A;
    font-size: 144px;
    line-height: 100%;
    text-align: center;
}

.error-text{
    width: 345px;
    height: 143px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}

.error-text-subtitle{
    font-weight: normal;
    font-size: 18px;
}

.error-text-title {
    font-weight: 900;
    font-size: 24px;
}

.preloader-background {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0,0,0); /* Black background with opacity */
    z-index: 9999999999;
    display: block;
}

.preloader {
    margin: 0;
    position: absolute;
    width: 350px;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
@supports (-ms-ime-align:auto) {
    #footer-ul li {
        width: 150px;
    }
}

.example_a {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ed3330;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    font-weight: 900;
    width: 240px;
}
.example_a:hover {
    background: #434343;
    letter-spacing: 1px;
    -webkit-box-shadow: 0 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}
