@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,600,900&display=swap');
body, html{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("../../img/try.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    width: 992px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0;
    padding-left: 0;
    display: block
}

.container-inside{
    top: 39px;
    position: relative;
    margin: 0 auto;
    width: 83%;
}

header{
    position: relative;
    width: 100%;
}

#fast-order{
    position: absolute;
    top: 5px;
    left: 0;
    width: 160px;
    height: 29px;
    background: #F13A3A;
    box-shadow: 0 4px 10px rgba(179, 43, 43, 0.2);
    border-radius: 50px;
    font-family: Raleway, sans-serif;
    font-weight: 900;
    font-size: 0.9em;
    line-height: 27px;
    color: white;
    cursor: pointer;
}
#fast-order span{
    position: relative;
    left: 37px;
    user-select: none;
    z-index: 2;
}
#fish-bone{
    position: absolute;
    z-index: 1;
    top: -15px;
}
.user_basket{
    position: absolute;
    top: 5px;
    right: 0;
}

#user{
    position: absolute;
    right: 0;
    top: -3px;
}
#basket-container{
    position: absolute;
    width: 110px;
    height: 29px;
    border: 2px solid #F13A3A;
    box-sizing: border-box;
    border-radius: 50px;
    top: 0;
    right: 45px;
    background-image: url("../../img/online-shopping-cart.svg");
    background-position: 6px 5px;
    background-repeat: no-repeat;
    padding-left: 30px;
    padding-top: 3px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
#basket-container span{
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 100%;
    color: white;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
/*
#basket{
    position: absolute;
    top: 3px;
    left: 11px;
}*/
#basket::after{
    content: url("../../img/circle-solid.svg");
    color: red;
}
.logo-container{
    width: 303px;
    height: 178px;
    margin: 0 auto;
}

.button-row{
    height: 35px;
}

#logo{
    position: relative;
    margin: 0 auto;
    display: block;
    z-index: 1;
}

#logo-text{
    position: absolute;
    width: 340px;
    height: 110px;
    z-index: 2;
    top: 108px;
}
#lipinskie{
    font-family: Raleway;
    font-weight: 900;
    font-size: 80px;
    line-height: 53px;
    font-variant: small-caps;
    letter-spacing: 0.02em;
    color: white;
}

#raki{
    font-family: Raleway;
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 82.18%;
    letter-spacing: 0.19em;
    color: white;
}

.crayfish{
    width: 127px;
    height: 43px;
    position: absolute;
    right: 35px;
    bottom: 1px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 100%;
    color: #F13A3A;
}
.nav-row {
    margin-top: 20px;
}
nav{
    height: 34px;
    width: 80%;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 0 auto;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    padding-left: 0;
}

nav ul li{
    list-style-type: none;
    display: block;
    font-family: Raleway, sans-serif;
    font-weight: 200;
    font-size: 18px;
    line-height: 100%;
    color: #9e9999;
    user-select: none;
    cursor: pointer;
    transition: .2s;
}

nav ul li:hover{
    font-weight: normal;
    border-bottom: 3px solid #F13A3A;
    color: white;
}

main{
    position: relative;
    width: 100%;
}

#plate{
    position: relative;
    display: block;
    width: 75%;
    height: auto;
    margin: 0 auto;
    z-index: 1;
}

#promotion{
    position: relative;
    top: -66px;
    width: 94%;
    height: 178px;
    z-index: 2;
    margin: 0 auto;
    background: #F13A3A;
}

#promotion-text{
    position: absolute;
    width: 446px;
    height: 178px;
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 100%;
    color: #520B0B;
    padding-top: 60px;
    right: 50px;
}

#promotion-percent{
    position: absolute;
    float: right;
    width: 180px;
    height: 178px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 170%;
    color: white;
    left: 70px;
}

#slider-points{
    position: absolute;
    width: 7px;
    height: 95px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    right: 38px;
    top: 40px;
}

.ellipse{
    width: 7px;
    height: 7px;
    background-color: #981A1A;
    border-radius: 40px;
}

.ellipse-active{
    background-color: white;
}

.rating h2{
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 600;
    margin: 0 auto;
    width: 513px;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    border-bottom: 3px solid #F13A3A;
    text-align: center;
}
.rating{
    width: 690px;
    position: relative;
    margin: 0 auto;
    margin-bottom: 100px;
}
.rating .row{
    margin-top: 20px;
}

.product-card{
    width: 210px;
    height: 299px;
    background: #3C3C3C;
    margin-top: 29px;
}

.product-card img{
    width: 100%;
    height: 186px;
}

.card-content{
    position: relative;
    height: 113px;
    width: 210px;
    padding: 10px 16px 0 16px;
}

.product-card h4{
    font-family: Raleway,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 100%;
    text-align: left;
    color: #FFFFFF;
}

.product-card p{
    font-family: Raleway,sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 100%;
    text-align: justify;
    margin-top: 1px;
    margin-bottom: 20px;
    position: relative;
    color: #FFFFFF;
}

.in_basket{
    position: absolute;
    width: 94.54px;
    height: 22.29px;
    background: #F13A3A;
    border-radius: 50px;
    bottom: 13px;
    right: 15px;
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 100%;
    align-items: center;
    padding: 4px 10px 0 10px;
    color: #FFFFFF;
    cursor: pointer;
}

.price{
    position: absolute;
    font-family: Raleway,sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 100%;
    bottom: 15px;
    left: 16px;
    color: #FFFFFF;
}

.inbasket-continer{
    position: relative;
    width: 100%;
}

.page-text{
    position: relative;
    width: 100%;
    margin-top: 60px;
}

#main-photo{
    background-image: url("../../img/main-page-img.jpg");
    background-size: cover;
    width: 495px;
    height: 506px;
    display: inline-block;
    float: left;
}

#main-text{
    width: 497px;
    height: 506px;
    background: #F13A3A;
    display: inline-block;
    padding: 109px 45px 25px 45px;
}
#main-text-container{
    width: 407px;
    height: 200px;
}

#main-text-container h1{
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 100%;
    text-align: justify;
    color: #FFFFFF;
    margin-bottom: 20px;
}

#main-text-container p{
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 100%;
    text-align: justify;

    color: #FFFFFF;
}

.custom-button{
    width: 182px;
    height: 35px;
    box-shadow: 0 4px 4px rgba(50, 9, 9, 0.25);
    background: #FFFFFF;
    border-radius: 50px;
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 100%;
    text-align: center;
    padding-top: 10px;
    color: #F13A3A;
    cursor: pointer;
}

.fast-order-big{
    position: absolute;
    bottom: 100px;
    right: 155px;
}

footer{
    position: relative;
    width: 100%;
    background: #212121;
    height: 218px;
}

#red-line{
    border: 7px solid #F13A3A;
    position: absolute;
    width: 100%;
    bottom: 14px;
}

.footer-row{
    margin-top: 42px;
}

.logos{
    position: relative;
    left: 14px;
    float: left;
    width: 226px;
    height: 120px;
}

.footer-raki-logo embed{
    width: 150px;
    height: 70px;
    margin-top: -10px;
}


.contact{
    width: 161px;
    height: 104px;
    margin-left: 95px;
}

#contact-num{
    font-family: Raleway;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 100%;
    align-items: center;
    text-transform: uppercase;

    color: #FFFFFF;
}

#contact-email{
    font-family: Raleway;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 100%;
    text-align: center;
    display: block;
    color: #CECECE;
}

.contact-social{
    position: relative;
    margin-top: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-nav{
    width: 128px;
    height: 124px;
    margin-left: 179px;
}

.footer-nav ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: -2px;
}

.footer-nav ul li{
    list-style-type: none;
    display: block;
    font-family: Raleway, sans-serif;
    font-weight: 200;
    font-size: 18px;
    line-height: 100%;
    color: #9e9999;
    user-select: none;
    cursor: pointer;
    width: max-content;
    margin-top: 6px;
    transition: .2s;
}

.footer-nav ul li:hover{
    font-weight: normal;
    border-bottom: 3px solid #F13A3A;
    color: white;
}

.active-nav{
    font-weight: normal !important;
    border-bottom: 3px solid #F13A3A;
    color: white !important;
}

.footer-octo-logo{
    margin-top: 8px;
}

.footer-octo-logo embed{
    width: 150px;
    height: 70px;
}

#overlay{
    position: fixed; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 20;
    cursor: pointer;
}
.dropdown{
    display: none;
    width: 128px;
    height: max-content;
    background: #F13A3A;
    box-shadow: 0 4px 4px rgba(58, 10, 10, 0.25);
    position: absolute;
    z-index: 1000;
    right: 60px;
}
.dropdown ul{
    width: 100%;
    list-style-type: none;
    padding: 0 0 0 0;
    margin-bottom: 0;
}

.dropdown ul li{
    height: max-content;
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

.dropdown ul li:hover{
    background: #CD3131;
}