#products-with-size-photo{
    background-image: url("../../img/image-products-size.jpg");
    background-size: cover;
    width: 495px;
    height: 506px;
    display: inline-block;
    float: left;
}
.sizes-container{
    position: relative;
    display: flex;
    width: 701px;
    flex-wrap: wrap;
    height: max-content;
    margin: 0 auto;
    margin-top: 43px;
    margin-bottom: 36px;
}

.size-card{
    width: 210px;
    height: 124px;
    display: block;
    background: #3C3C3C;
    margin-right: 35px;
    margin-top: 38px;
}
.size-card:nth-child(1),.size-card:nth-child(2), .size-card:nth-child(3){
    margin-top: 0;
}
.size-card:nth-child(3){
    margin-right: 0;
}

.warn{
    width: 701px;
    height: 124px;
    background: #F13A3A;
    position: relative;
    margin: 0 auto;
    margin-top: 25px;
    padding-top: 15px;
}
.size-row{
    margin-top: 22.5px;
    display: flex;
    position: relative;
    margin-bottom: 15.5px;
}

.warn h2{
    width: 371px;
    position: relative;
    margin: 0 auto;
    font-family: Raleway,sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    color: #FFFFFF;
}

.warn-button{
    position: relative;
    margin: 0 auto;
    margin-top: 35px;
    width: 318px;
}

.size{
    position: relative;
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 45px;
    height: 72px;
}

.product-size-info{
    position: relative;
    width: 80px;
    height: 62px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.size-card-info{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 72px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 15px;
}

.grams{
    font-family: Raleway,sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 100%;
    text-align: justify;
    text-transform: lowercase;
    color: #FFFFFF;
    display: inline-block;
    padding-left: 1px;
    margin-top: 9px;
    height: max-content;
}


.size-price{
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 100%;
    text-align: justify;
    text-transform: lowercase;
    color: #FFFFFF;
    display: block;
    padding-left: 15px;
}
#ruler{
    display: inline-block;
    vertical-align: middle;
}

.size-xl{
    padding-top: 2px;
    padding-left: 17px;
}
.size-x{
    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    line-height: 73%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    position: absolute;
    left: 14px;
    top: 22px;
}

.size-l{
    position: relative;
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 90px;
    height: 72px;
}

.size-xx{
    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    line-height: 73%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: -15px;
    position: absolute;
    left: 14px;
    top: 14px;
}

.size-button{
    background: #F13A3A;
    border-radius: 50px;
    width: 98.68px;
    height: 25.03px;
    position: relative;
    margin: 0 auto;
    font-family: Raleway,sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 100%;
    text-align: center;
    text-transform: lowercase;
    padding: 5px;
    margin-top: 15px;
    color: #FFFFFF;
    cursor: pointer;
}

.products-container{
    width: 700px;
    position: relative;
    margin: 0 auto;
    padding-top: 16px;
    padding-bottom: 32px;
}

.products-row{
    width: 100%;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
}

#down{
    position: relative;
    display: block;
    margin: 0 auto;
    margin-top: 32px;
    cursor: pointer;
}

#special-card{
    width: 209px;
    height: 299px;
    background-image: url("../../img/special-card.svg");
    background-size: cover;
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 100%;
    padding-top: 110px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 29px;
    margin-right: 30px;
}


