@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
.mini{
    width: 844px;
    height: 100px;
    position: relative;
    margin: 0 auto;
}

.header-raki-logo{
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 25px;
}

.header-raki-logo img{
    width: 150px;
    height: 70px;
}
.user_basket-mini{
    top: 40px;
    position: absolute;
    right: 0;
}
.user_basket-mini .fa-shopping-cart {
    color: white;
    position: absolute;
    left: 10px;
}
.user_basket-mini .fa-user {
    color: white;
    border: solid white 2px;
    padding: 5px;
    border-radius: 100%;
    transition: all 0.35s ease-in;
    width: 30px;
}
.user_basket-mini .fa-user:before {
    margin-left: 1px;
}

.user_basket-mini .fa-user:hover {
    color: #F13A3A;
    transform: scale(1.3) rotate(360deg);
}

.red-content{
    width: 770px;
    height: 624px;
    position: relative;
    margin: 0 auto;
    /*top: 13%; */
    background: #F13A3A;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    display: block;
    margin-bottom: 30px;
}

.make-order-height{
    height: max-content;
    display: flex;
}

#shopping-cart{
    position: absolute;
    width: 277px;
    height: 332px;
    top:0;
    left: 0;
    z-index: 4;
}

#shopping-cart embed{
    width: 100%;
    height: 100%;
}
.check-shopping{
    position: relative;
    display: block;
    width: 526px;
    height: 130px;
    margin: 0 auto;
    text-align: left;
    padding-top: 42px;
    padding-bottom: 20px;
    z-index: 5;
}

.check-shopping p{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 100%;
    color: #FFFFFF;
    display: inline;
}

.check-shopping h4{
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 100%;
    color: #FFFFFF;
}

.cart-container{
    width: 659px;
    height: 461px;
    position: relative;
    display: block;
    left: 91px;
    padding-left: 15px;
    z-index: 5;
}

.cart-container h3{
    color: white;
}

.order{
    width: 100%;
    height: 70px;
    position: relative;
    display: block;
    background: #F85B5B;
    box-shadow: 4px 4px 4px #BF2C2C;
    margin-bottom: 7px;
    border-radius: 0 40px 40px 0;
}
.order img{
    width: 139px;
    height: 70px;
    display: inline-block;
    position: relative;
    float: left;
}
.order-product-name {
    width: 155px;
    height: 70px;
    padding-left: 6px;
    position: relative;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 70px;
    color: #FFFFFF;
    display: inline-block;
    float: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-right: 12px;
}
.quantity{
    width: 142px;
    height: 70px;
    position: relative;
    display: inline-block;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 100%;
    text-align: center;
    color: #FFFFFF;
    float: left;
}

.minus{
    position: absolute;
    top: 15px;
    left: 0;
    user-select: none;
    -moz-user-select: none;
    cursor: pointer;
}

.plus{
    position: absolute;
    top: 16px;
    right: 0;
    user-select: none;
    -moz-user-select: none;
    cursor: pointer;
}

.quantity-res{
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 50px;
    width: 86px;
    height: 27px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 100%;
    display: block;
    margin: 0 auto;
    margin-top: 22px;
}
.quantity-res input{
    background-color: transparent;
    width: 100%;
    outline: none;
    border: none;
    height: inherit;
    border-radius: inherit;
    color: #FFFFFF;
    text-align: center;
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    box-sizing: border-box;
    padding-bottom: 6px;

}
.order-price{
    width: 123px;
    height: 70px;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 65px;
    color: #FFFFFF;
    text-align: center;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.delete-from-cart{
    right: 23px;
    top: 17px;
    position: absolute;
    cursor: pointer;
}
.delete-from-cart svg{
    width: 34px;
    height: 34px;
}

.delete-from-cart:hover svg path{
    fill: #FFFFFF;
}

.order-container{
    width: 100%;
    right: 23px;
    top: 17px;
    position: relative;
}

.summary{
    width: 100%;
    height: 62px;
    background: #D52B2B;
    position: relative;
    padding-left: 56px;
    padding-right: 56px;
    display: flex;
    justify-content: space-between;
}

.final{
    width: max-content;
    max-width: 400px;
    height: 62px;
    position: relative;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 62px;
    color: #FFFFFF;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.checkout{
    background: #FFFFFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    right: 50px;
    width: 207px;
    height: 38px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 38px;
    text-align: center;
    color: #F13A3A;
    cursor: pointer;
    align-self: center;
}
.checkout:hover{
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.hryvnas{
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 100%;
    display: inline-block;
    align-items: center;
    text-align: center;
    text-transform: lowercase;
    color: #FFFFFF;
    vertical-align: middle;
}

#van{
    position: absolute;
    width: 285px;
    height: 512px;
    left: 0;
    top: 65px;
}

.order-block{
    width: 400px;
    height: fit-content;
    position: relative;
}
.text-area{
    resize: none;
}

.order-block #order-title{
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 100%;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    display: block;
    margin-top: 50px;
}

.order-form{
    position: relative;
    width: 300px;
    height: max-content;
    margin: 55px auto 0;
    padding: 2px 2px 2px 2px;
}

.order-input{
    width: 300px;
    height: 33px;
    box-sizing: border-box;
    padding: 1px 1px 1px 1px;
    position: relative;
    display: block;
    outline: none;
    margin-top: 9px;
    background: #FFFFFF;
    border-radius: 2px;
    border: none;
    text-align: center;
}

.input-margin-29{
    margin-top: 29px;
}

.input-margin-16{
    margin-top: 16px;
}

.input-margin-37{
    margin-top: 37px;
}

.date-input{
    width: 200px;
    height: 33px;
    box-sizing: border-box;
    padding: 1px 1px 1px 1px;
    position: relative;
    display: block;
    outline: none;
    background-color: #FFFFFF;
    border-radius: 2px;
    border: none;
    margin-right: 8px;
    background-image: url('../../img/calendar.svg');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 30px;
    text-align: center;
}

.date-input-without{
    width: 200px;
    height: 33px;
    box-sizing: border-box;
    padding: 1px 1px 1px 1px;
    position: relative;
    display: block;
    outline: none;
    background-color: #FFFFFF;
    border-radius: 2px;
    border: none;
    margin-right: 8px;
    background-image: url('../../img/calendar.svg');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 30px;
    text-align: center;
}

.form-row{
    margin-left: 0;
}

.time-input{
    width: 91px;
    height: 33px;
    box-sizing: border-box;
    padding: 1px 1px 1px 1px;
    position: relative;
    display: block;
    outline: none;
    background: #FFFFFF;
    border-radius: 2px;
    border: none;
    text-align: center;
}

.delivery-type{
    width: 300px;
    height: max-content;
    position: relative;
    margin-top: 37px;
}


.delivery{
    background: #F85B5B;
    border-radius: 5px;
    width:149px;
    height: 33px;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 100%;
    text-align: center;
    color: #FFFFFF;
    display: inline-block;
    padding-top: 9px;
    cursor: pointer;
}

.self-delivery{
    background: #F85B5B;
    border-radius: 5px;
    width: 145px;
    height: 33px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 100%;
    text-align: center;
    padding-top: 9px;
    display: inline-block;
    cursor: pointer;
}
.delivery-active{
    color: #651313;
    background: #FFFFFF;
    box-shadow: 0 4px 4px #C12323;
}
.order-address{
    background-image: url('../../img/marker-form.svg');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 30px;
}

.checkout-order{
    background: #FFFFFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    position: relative;
    margin: 0 auto;
    margin-top: 34px;
    width: 207px;
    height: 38px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 38px;
    border: none;
    text-align: center;
    color: #F13A3A;
    cursor: pointer;
    display: block;
    padding: 0 0;
}
.checkout-order:hover{
    box-shadow: 0 0 18px rgba(0,0,0,0.5);
}

button:focus{
    outline: none;
}
#map-block{
    width: 370px;
    position: relative;
    display: block;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}

::-webkit-input-placeholder {
    text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
    text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;
}

:-ms-input-placeholder {
    text-align: center;
}

.lipinka-street{
    display: none;
    width: 300px;
    height: 33px;
    position: relative;
    text-align: left;
    padding-left: 28px;
    background-image: url('../../img/marker-form-white.svg');
    margin-top: 16px;
    background-repeat: no-repeat;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 100%;
    color: #FFFFFF
}

.small-red-content{
    position: relative;
    width: 770px;
    height: 292px;
    margin: 0 auto;
    margin-top: 45px;
    background: #F13A3A;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}
#shrimps{
    position: absolute;
    left: 30px;
    top: 10px;
}
.form-container{
    position: relative;
    width: 348px;
    margin: 0 auto;
    z-index: 100;
}

.form-title{
    text-align: left;
    padding-bottom: 20px;
    padding-top: 35px;
    color: white;
}
#subtitle{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 100%;
}

#title{
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 100%;
}

.login-input-container{
    width: 100%;
    height: max-content;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.remeber_me{
    width: 100%;
    padding-top: 9px;
    padding-bottom: 3px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 100%;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
}

.remeber_me label  input{
    position: relative;
    top: 2px;
}

.user-input{
    height: 33px;
    box-sizing: border-box;
    padding: 1px 1px 1px 1px;
    position: relative;
    display: block;
    outline: none;
    margin-top: 9px;
    background: #FFFFFF;
    border-radius: 2px;
    border: none;
    text-align: center;
}

.login-input{
    width: 165px;
}

.login-button{
    width: 289px;
    height: 38px;
    background: #FF9797;
    box-shadow: 0 4px 10px #CB2828;
    border-radius: 50px;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    line-height: 38px;
    position: relative;
    z-index: 30;
    display: block;
    padding: 0 0 0 0;
}


.forgot-pass{
    width: 100%;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 100%;
    color: #FFFFFF;
    margin-top: 15px;
    cursor: pointer;
}
.forgot-pass:hover{
    text-decoration: underline;
}

.forgot-pass a{
    color: inherit;
}

.if-no-login{
    width: 770px;
    height: 60px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.login-with{
    font-style: normal;
    font-weight: 200;
    font-size: 11px;
    line-height: 100%;
    text-align: left;
    color: grey;
    width: 286px;
    height: 18px;
    padding-top: 3px;
}

.login-with-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.social-container{
    display: flex;
    width: 280px;
    justify-content: space-between;
}

.social{
    width: 80px;
    height: 38px;
    border-radius: 50px;
    text-align: center;
    padding-top: 5px;
    cursor: pointer;
}

.facebook{
    background: #236CC1;
    box-shadow: 0 4px 10px rgba(193, 35, 35, 0.2);
}

.google{
    background: #F13A3A;
    box-shadow: 0 4px 10px rgba(193, 35, 35, 0.2);
}

.insta{
    background: linear-gradient(54.35deg, #F9ED32 -19.83%, #EE2A7B 58.8%, rgba(0, 42, 255, 0.8) 119.95%);
    box-shadow: 0 4px 10px rgba(193, 35, 35, 0.2);
}

.register-button{
    background: #FFFFFF;
    border-radius: 50px;
    height: 38px;
    width: 309px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    color: #F13A3A;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, transparent 50%, #FF8080 50%);
    transition: background-position .4s cubic-bezier(0.19, 1, 0.22, 1) .1s,
    color .5s ease 0s,
    background-color .5s ease;
}
.register-button:hover{
    color: rgba(255, 255, 255, 1);
    background-color: #FF8080;
    background-position: -100% 100%;
}

.input-reg-container{
    width: 705px;
    height: 42px;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 0 auto;
    margin-bottom: 42px;
}
.validation-mess{
    width: 100%;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 100%;
    text-align: center;
    color: #FFFFFF;
    display: block;
    padding-top: 2px;
    margin: 0 auto;
}
.validation-mess-micro{
    width: 80px;
}

.invalid-input{
    background-image: url("../../img/times-solid.svg");
    background-size: 12px;
    background-position: 95% 8px;
    background-repeat: no-repeat;
    padding-right: 27px;
}

#map-block-inform{
    display: none;
}

.margin-top-off{
    margin-top: 0;
}

.attention-promotion{
    width: 770px;
    height: 117px;
    margin: 0 auto;
    margin-top: 19px;
    background: #F13A3A;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 73px;
    position: relative;
}

#pizza{
    position: absolute;
    top: 0;
    left: 0;
    width: 260px;
}

.attention-subtitle{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: white;
    z-index: 10;
    position: relative
}

.attention-title{
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    color: white;
    z-index: 10;
    position: relative;
    line-height: 2px;
}

.pt-10{
    padding-top: 110px;
}

.promotion-title{
    width: 381px;
    height: 66px;
    margin: 0 auto;
    text-align: left;
    padding-top: 15px;
    display: block;
}
.bonuses-in-attention{
    width: 103px;
    height: 24px;
    position: absolute;
    text-align: right;
    top: 18px;
    right: 80px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 100%;
    color: #FFFFFF;
}

.bonuses-in-attention:after{
    content: url("../../img/gold.svg");
    position: absolute;
    right: -27px;
    top: -2px;
}

.bonus-bold{
    font-weight: bold;
}

.scale{
    display: flex;
    justify-content: space-between;
    height: 12px;
    width: 622.06px;
    margin: 0 auto;
    margin-top: 17px;
}
.scale-section{
    background: #C92C2C;
    border-radius: 2px;
    height: 12px;
    width: 74.06px;
}
.scale-section:first-child{
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.scale-section:last-child{
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.attention-user-cab{
    color: white;
    font-size: 20px;
}

.attention-pt{
    padding-top: 4rem;
}