@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,600,900&display=swap');
.mini{
    width: 844px;
    height: 100px;
    position: relative;
    margin: 0 auto;
}

.header-raki-logo{
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 25px;
}

.header-raki-logo embed{
    width: 150px;
    height: 70px;
}
.user_basket-mini{
    top: 40px;
    position: absolute;
    right: 0;
}

.red-content{
    width: 770px;
    height: 624px;
    position: relative;
    margin: 0 auto;
    top: 13%;
    background: #F13A3A;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    display: block;
}
#shopping-cart{
    position: absolute;
    width: 277px;
    height: 332px;
    top:0;
    left: 0;
    z-index: 4;
}

#shopping-cart embed{
    width: 100%;
    height: 100%;
}
.check-shopping{
    position: relative;
    display: block;
    left: 156px;
    width: 526px;
    height: 130px;
    top: 0;
    padding-top: 42px;
    padding-bottom: 20px;
    z-index: 5;
}

.check-shopping p{
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 100%;
    color: #FFFFFF;
    display: inline;
}

.check-shopping h4{
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 100%;
    color: #FFFFFF;
}

#close-modal{
    position: absolute;
    width: 25px;
    height: 25px;
    top: 23px;
    right: 23px;
}
.cart-container{
    width: 659px;
    height: 461px;
    position: relative;
    display: block;
    left: 91px;
    padding-left: 15px;
    z-index: 5;
}

.order{
    width: 559px;
    height: 70px;
    position: relative;
    display: block;
    background: #F85B5B;
    box-shadow: 0 4px 4px #BF2C2C;
    border-radius: 2px;
    margin-bottom: 7px;
}
.order img{
    width: 139px;
    height: 70px;
    display: inline-block;
    position: relative;
    float: left;
}
.order-product-name {
    width: 155px;
    height: 70px;
    padding-left: 12px;
    position: relative;
    font-family: Raleway,sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 100%;
    color: #FFFFFF;
    display: inline-block;
    padding-top: 14px;
    float: left;
}
.quantity{
    width: 142px;
    height: 70px;
    position: relative;
    display: inline-block;
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 100%;
    text-align: center;
    color: #FFFFFF;
    float: left;
}

.minus{
    position: absolute;
    top: 15px;
    left: 0;
}

.plus{
    position: absolute;
    top: 15px;
    right: 0;
}

.quantity-res{
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 50px;
    width: 86px;
    height: 27px;
    font-family: Raleway,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 100%;
    display: block;
    margin: 0 auto;
    margin-top: 22px;
}
.quantity-res input{
    background-color: transparent;
    width: 100%;
    outline: none;
    border: none;
    height: inherit;
    border-radius: inherit;
    color: #FFFFFF;
    text-align: center;
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    box-sizing: border-box;
    padding-bottom: 6px;

}
.order-price{
    width: 123px;
    height: 70px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 65px;
    color: #FFFFFF;
    text-align: center;
    display: inline-block;

}

.delete-from-cart{
    width: 34px;
    height: 34px;
    right: 23px;
    top: 17px;
    position: absolute;
}

.order-container{
    width: 100%;
    right: 23px;
    top: 17px;
    position: relative;
}

.summary{
    width: 100%;
    height: 62px;
    background: #D52B2B;
    position: relative;
    bottom: 0;
}

.final{
    width: 240px;
    height: 62px;
    position: absolute;
    left: 80px;
    font-family: Raleway,sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 100%;
    color: #FFFFFF;
    padding-top: 10px;
}

.checkout{
    background: #FFFFFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    position: absolute;
    top: 12px;
    right: 50px;
    width: 207px;
    height: 38px;
    font-family: Raleway,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 38px;
    text-align: center;
    color: #F13A3A;
}

.hryvnas{
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 100%;
    display: block;
    position: absolute;
    top: 26px;
    right: 16px;
    align-items: center;
    text-align: center;
    text-transform: lowercase;
    color: #FFFFFF;
}