<footer>
    <div class="container">
        <div class="container-inside">
            <div class="row footer-row">
                <div class="logos">
                    <div class="footer-raki-logo">
                        <embed type="image/svg+xml" src="/assets/img/raki-footer-logo.svg"/>
                    </div>
                    <div class="footer-octo-logo">
                        <embed type="image/svg+xml" src="/assets/img/octologo.svg"/>
                    </div>
                </div>
                <div class="contact">
                    <div class="contact-info">
                        <a href="tel:+38(063)612-62-82" id="contact-num" target="_blank">+38(063)612-62-82</a>
                        <a href="mailto:lipinskieraki@gmail.com" id="contact-email" target="_blank">lipinskieraki@gmail.com</a>
                    </div>
                    <div class="contact-social">
                        <a href="https://www.instagram.com/lipinskie_raki_kiev/" id="contact-num" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a href="https://telegram.me/Lipinskieraki123" id="contact-num" target="_blank"><i class="fab fa-telegram-plane"></i></a>
                        <a href="https://viber.click/0636126282" id="contact-num" target="_blank"><i class="fab fa-viber"></i></a>
                    </div>
                </div>
                <div class="footer-nav">
                    <ul id="footer-ul">
                        <li {% if active == 'home' %} {% set active = false %} class="active-nav"{% endif %} data-location="{{ path('home') }}">Главная</li>
                        <li {% if active == 'zhivye-raki' %} {% set active = false %} class="active-nav"{% endif %} data-location="{{ path('category_show',{'slug': 'zhivye-raki'}) }}">Живые раки</li>
                        <li {% if active == 'zharenye-raki' %} {% set active = false %}class="active-nav"{% endif %} data-location="{{ path('category_show',{'slug': 'zharenye-raki'}) }}">Жареные раки</li>
                        <li {% if active == 'varenye-raki' %} {% set active = false %} class="active-nav"{% endif %} data-location="{{ path('category_show',{'slug': 'varenye-raki'}) }}">Вареные раки</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="red-line">
    </div>
</footer>
