<footer>
    <div class="container">
        <div class="container-inside">
            <div class="row footer-row">
                <div class="logos">
                    <div class="footer-raki-logo">
                        <embed type="image/svg+xml" src="/assets/img/raki-footer-logo.svg"/>
                    </div>
                    <div class="footer-octo-logo">
                        <embed type="image/svg+xml" src="/assets/img/octologo.svg"/>
                    </div>
                </div>
                <div class="contact">
                    <div class="contact-info">
                        <span id="contact-num">+38(000)000-00-00</span>
                        <span id="contact-email">rakiInf@gmail.com</span>
                    </div>
                    <div class="contact-social">
                        <embed type="image/svg+xml" src="/assets/img/instagram.svg"/>
                        <embed type="image/svg+xml" src="/assets/img/telegram-logo.svg"/>
                        <embed type="image/svg+xml" src="/assets/img/viber-logo.svg"/>
                    </div>
                </div>
                <div class="footer-nav">
                    <ul>
                        <li class="active-nav">
                            Главная
                        </li>
                        <li>
                            Живые раки
                        </li>
                        <li>
                            Жареные раки
                        </li>
                        <li>
                            Вареные раки
                        </li>
                        <li>
                            Ассортимент
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="red-line">
    </div>
</footer>