<div class="additional-nav">
    <div class="additional-nav-container">
        <div class="additional-nav-item" data-url="/category-varenye-raki">
            Вареные раки
        </div>
        <div class="additional-nav-item" data-url="/category-zharenye-raki">
            Жареные раки
        </div>
        <div class="additional-nav-item" data-url="/category-zhivye-raki">
            Живые раки
        </div>
    </div>
</div>