<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; Lipinskie Raki 2019 - <i class="fas fa-infinity"></i></span>
        </div>
    </div>
</footer>