{#
<div class="attention-promotion">
    <div class="bonuses-in-attention">
        100/<span class="bonus-bold">2000</span>
    </div>
    <div class="promotion-title">
        <span class="attention-subtitle">Купи товаров на 2000 грн за всё время</span>
        <span class="attention-title">Получи Рыбу в подарок</span>
    </div>
    <div class="scale">
        <div class="scale-section"></div>
        <div class="scale-section"></div>
        <div class="scale-section"></div>
        <div class="scale-section"></div>
        <div class="scale-section"></div>
        <div class="scale-section"></div>
        <div class="scale-section"></div>
        <div class="scale-section"></div>
    </div>
</div>#}
<div class="attention-promotion">
    <div class="bonuses-in-attention without-bonus-count">
    </div>
    <div class="promotion-title-placeholder">
        <span class="attention-subtitle">Глобальная акция</span><br>
        <span class="attention-title">Скоро новинка - для настоящих гурманов</span>
    </div>
</div>