<!-- Bonus Modal-->
<div class="modal fade" id="bonusModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Хотите отредактировать бонусы?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form action="" method="post">
                <div class="modal-body">
                    <input type="number" class="form-control" name="bonuses" value="{{ userBonuses }}" required autofocus>
                </div>
                <button class="btn btn-lg btn-primary" type="submit">
                    Изменить
                </button>
            </form>
        </div>
    </div>
</div>