<div class="modal-window-with-btn">
    <embed id="pizza" type="image/svg+xml" src="/assets/img/pizza.svg"/>
    <img data-close-modal-btn class="close-modal" src="/assets/img/close-modal.svg"/>
    <span class="modal-title">Для оформления заказа нам прийдется очистить корзину. Вы уверены в этом?</span>
    <div class="referral-input-container">
        <div class="referral-change">
            <div class="custom-button">Очистить</div>
            <div class="custom-button transparent">Отмена</div>
        </div>
    </div>
</div>
