<div class="modal-window pt-10 text-center">
    <embed id="pizza" type="image/svg+xml" src="/assets/img/pizza.svg"/>
    <embed id="close-modal" type="image/svg+xml" src="/assets/img/close-modal.svg"/>
    <span class="attention-subtitle">Привет Тебе!</span><br>
    <span class="attention-title">Спасибо за регистрацию</span>
</div>