<div class="modal-window {% if special_class %}{{ special_class }}{% endif %}">
    <embed id="pizza" type="image/svg+xml" src="/assets/img/pizza.svg"/>
    <img data-close-modal class="close-modal" src="/assets/img/close-modal.svg"/>
  {#  <span class="attention-subtitle">Привет Тебе!</span><br>#}
    <span class="modal-title">Спасибо за регистрацию</span>
</div>