<div class="modal-window">
    <embed id="pizza" type="image/svg+xml" src="/assets/img/pizza.svg"/>
    <img id="close-modal" src="/assets/img/close-modal.svg"/>
    <span class="modal-title">Введи код друга и получи бонусы!</span><br>
    <div class="referral-input-container">
        <input class="user-input referral-input" placeholder="Код">
        <div class="referral-change">
            <div class="custom-button code">Применить</div>
            <div class="custom-button no-code">У меня нету такого :(</div>
        </div>
    </div>
</div>