{% if products.count > 0 %}
<div class="receipt-sizes">
     <h4>
         Выбери размер:
     </h4>
    <div class="receipt-sizes-container">
    {% for product in products %}
        <div class="size-block" data-name="{{ product.id }}">
            {{ product.ProductSize }}
        </div>
    {% endfor %}
    </div>
</div>
{% else %}
    <div class="parent">
        <div class="no-allowed-sizes" data-name="{{ id }}" data-type="receipt">
                <div class="nas-title">
                        Извините, доступных размеров на сегодня нет.Заказать на другой день?
                </div>
                <div class="custom-button choose-type mr-3 transparent-choose-type" data-order="tomorrow">
                        Другой день
                </div>
        </div>
    </div>
{% endif %}