<header class="mini">
    <div class="header-raki-logo">
        <embed type="image/svg+xml" src="/assets/img/raki-footer-logo.svg"/>
    </div>
    {#<div class="fast-order fast-order-in-mini-header">
        <embed id="fish-bone" type="image/svg+xml" src="/assets/img/fish-bone (1).svg"/>
        <span>Быстрый заказ</span>
    </div>#}
    <div class="user_basket-mini">
        <div id="basket-container">
            <span class="sum">{% if sum == null %}0 ₴{% else %}{{ sum }} ₴{% endif %}</span>
        </div>
        <embed id="user" type="image/svg+xml" src="/assets/img/avatar-red.svg"/>
    </div>
</header>
<header id="mobile">
    <embed id="mobile-logo" type="image/svg+xml" src="/assets/img/header-logo.svg"/>
    <div class="mobile-user_basket">
        <div id="basket-container">
            <span class="sum">{% if sum == null %}0 ₴{% else %}{{ sum }} ₴{% endif %}</span>
        </div>
        <div id="menu">
            <object  type="image/svg+xml" data="/assets/img/menu.svg"></object>
        </div>
    </div>
</header>