{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('footer') }}
{% endblock %}
{% block body %}
    <section class="wrapper">
        <div class="container">
            <div class="container-inside">
                {% include 'elements/__header.html.twig' with {'active': false} %}
                <main>
                    <div class="additional-nav">
                        <div class="additional-nav-container">
                            <div class="additional-nav-item">
                                Живые раки
                            </div>
                            <div class="additional-nav-item">
                                Вареные раки
                            </div>
                            <div class="additional-nav-item">
                                Жареные раки
                            </div>
                        </div>
                    </div>
                    <div class="small-red-content text-center pt-10 attention-height">
                        <embed id="pizza" type="image/svg+xml" src="/assets/img/pizza.svg"/>
                        <span class="attention-subtitle">Оплата не удалась(</span><br>
                        <span class="attention-title">Зайдите в личный кабинет и попробуйте оплатить снова &nbsp;<a
                                    href="{{ path('user_orders', {'id': app.user.id}) }}" class="attention-user-cab">Личный кабинет</a></span>
                    </div>
                    <div class="attention-promotion">
                        <div class="bonuses-in-attention">
                            100/<span class="bonus-bold">2000</span>
                        </div>
                        <div class="promotion-title">
                            <span class="attention-subtitle">Купи товаров на 2000 грн за всё время</span>
                            <span class="attention-title">Получи Рыбу в подарок</span>
                        </div>
                        <div class="scale">
                            <div class="scale-section"></div>
                            <div class="scale-section"></div>
                            <div class="scale-section"></div>
                            <div class="scale-section"></div>
                            <div class="scale-section"></div>
                            <div class="scale-section"></div>
                            <div class="scale-section"></div>
                            <div class="scale-section"></div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        {% include 'elements/__footer.html.twig' with {'active': false} %}
        {% include 'elements/mobile-nav.html.twig' with {'mob_active': false}  %}
    </section>
{% endblock %}
