{% extends 'base.html.twig' %}

{% block title %}
    Lipinskie Raki
{% endblock %}

{% block body %}
    <div class="container">
        <div class="container-inside">
           <header>
               <div class="button-row">
                   <div id="fast-order">
                       <embed id="fish-bone" type="image/svg+xml" src="/assets/img/fish-bone (1).svg"/>
                       <span>Быстрый заказ</span>
                   </div>
                   <div class="user_basket">
                       <div id="basket-container">
                           <embed id="basket" type="image/svg+xml" src="/assets/img/online-shopping-cart.svg"/> <span>550 грн</span>
                       </div>
                       <embed id="user" type="image/svg+xml" src="/assets/img/avatar.svg"/>
                   </div>
               </div>
               <div class="row">
                   <div class="logo-container">
                       <embed id="logo" type="image/svg+xml" src="/assets/img/logo.svg"/>
                       <div id="logo-text">
                           <span id="lipinskie">Lipinskie</span> <span id="raki">Raki</span>
                           <div class="crayfish">
                               Crayfish & Delicacies
                           </div>
                       </div>
                   </div>
               </div>
               <div class="row nav-row">
                    <nav>
                        <ul>
                            <li class="active-nav">Главаня</li>
                            <li>Живые раки</li>
                            <li>Жареные раки</li>
                            <li>Вареные раки</li>
                            <li>Ассортимент</li>
                        </ul>
                    </nav>
               </div>
           </header>
            <main>
                <img src="{{ asset('assets/img/plate.png') }}" alt="" id="plate">
                <div id="promotion">
                    <div id="promotion-percent">
                        -5%
                    </div>
                    <div id="promotion-text">
                        На каждый второй килограмм раков даеться 5 процентов скидки
                    </div>
                    <div id="slider-points">
                        <div class="ellipse ellipse-active"></div>
                        <div class="ellipse"></div>
                        <div class="ellipse"></div>
                        <div class="ellipse"></div>
                        <div class="ellipse"></div>
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}



