{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        footer{
            position: absolute;
        }
        @media  (max-height: 757px) {
            footer{
                position: relative;
            }
        }
    </style>
{% endblock %}
{% block body %}
    <section class="wrapper">
        <div class="container">
            <div class="container-inside">
                {% include 'elements/__header.html.twig' with {'active': false} %}
                <main>
                    <div class="payment">
                        <span class="attention-subtitle">Последний шаг!</span><br>
                        <span class="attention-title">Выбери способ оплаты</span>
                    </div>
                    <div class="payment-types mb-4">
                        {{ payment|raw }}
                    </div>
                </main>
            </div>
        </div>
        {% include 'elements/__footer.html.twig' with {'active': false} %}
        {% include 'elements/mobile-nav.html.twig' with {'mob_active': false}  %}
    </section>
{% endblock %}
