{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="container-inside">
            <header>
                <div class="button-row">
                    <div id="fast-order">
                        <embed id="fish-bone" type="image/svg+xml" src="/assets/img/fish-bone (1).svg"/>
                        <span>Быстрый заказ</span>
                    </div>
                    <div class="user_basket">
                        <div id="basket-container">
                            <embed id="basket" type="image/svg+xml" src="/assets/img/online-shopping-cart.svg"/>  <span>550 грн</span>
                        </div>
                        <embed id="user" type="image/svg+xml" src="/assets/img/avatar.svg"/>
                    </div>
                </div>
                <div class="row">
                    <div class="logo-container">
                        <embed id="logo" type="image/svg+xml" src="/assets/img/logo.svg"/>
                        <div id="logo-text">
                            <span id="lipinskie">Lipinskie</span> <span id="raki">Raki</span>
                            <div class="crayfish">
                                Crayfish & Delicacies
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row nav-row">
                    <nav>
                        <ul>
                            <li class="active-nav">Главаня</li>
                            <li>Живые раки</li>
                            <li>Жареные раки</li>
                            <li>Вареные раки</li>
                            <li>Ассортимент</li>
                        </ul>
                    </nav>
                </div>
            </header>
            <main>
                <div class="sizes-container">
                    <div class="size-row">
                        <div class="size-card">
                            <div class="size-card-info">
                                <div class="size">S</div>
                                <div class="product-size-info">
                                        <span class="grams">
                                            <embed id="ruler" type="image/svg+xml" src="/assets/img/ruler.svg"/> <span>- до 5 см.</span>
                                        </span>
                                        <span class="size-price">
                                           ₴ 550
                                        </span>
                                </div>
                            </div>
                            <div class="size-button">

                            </div>
                        </div>
                        <div class="size-card">
                            <div class="size-card-info">
                                <div class="size">M</div>
                                <div class="product-size-info">
                                        <span class="grams">
                                            <embed id="ruler" type="image/svg+xml" src="/assets/img/ruler.svg"/> <span>- до 5 см.</span>
                                        </span>
                                    <span class="size-price">
                                           ₴ 550
                                        </span>
                                </div>
                            </div>
                            <div class="size-button">

                            </div>
                        </div>
                        <div class="warn">
                            <h2>
                                Тут ты можешь купить только живых раков!
                            </h2>
                            <div class="custom-button warn-button">
                                Раки по рецепту
                            </div>
                        </div>
                    </div>
                    <div class="size-row">
                        <div class="size-card">
                            <div class="size-card-info">
                                <div class="size">L</div>
                                <div class="product-size-info">
                                        <span class="grams">
                                            <embed id="ruler" type="image/svg+xml" src="/assets/img/ruler.svg"/> <span>- до 5 см.</span>
                                        </span>
                                    <span class="size-price">
                                           ₴ 550
                                        </span>
                                </div>
                            </div>
                            <div class="size-button">

                            </div>
                        </div>
                        <div class="size-card"></div>
                        <div class="size-card"></div>
                    </div>
                </div>
            </main>
        </div>
        <div class="page-text">
            <div id="products-with-size-photo">
            </div>
            <div id="main-text">
                <div id="main-text-container">
                    <h1>Купи тонну раков, и получи что-то</h1>
                    <p>
                        Импликация, следовательно, контролирует бабувизм, открывая новые горизонты.
                        Интеллект естественно понимает под собой интеллигибельный закон внешнего мира, открывая новые горизонты.
                        Согласно мнению известных философов, дедуктивный метод естественно порождает и обеспечивает мир, tertium nоn datur.
                    </p>
                </div>
                <div class="fast-order-big">
                    Быстрый заказ
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="container-inside">
                <div class="row footer-row">
                    <div class="logos">
                        <div class="footer-raki-logo">
                            <embed type="image/svg+xml" src="/assets/img/raki-footer-logo.svg"/>
                        </div>
                        <div class="footer-octo-logo">
                            <embed type="image/svg+xml" src="/assets/img/octologo.svg"/>
                        </div>
                    </div>
                    <div class="contact">
                        <div class="contact-info">
                            <span id="contact-num">+38(000)000-00-00</span>
                            <span id="contact-email">rakiInf@gmail.com</span>
                        </div>
                        <div class="contact-social">
                            <embed type="image/svg+xml" src="/assets/img/instagram.svg"/>
                            <embed type="image/svg+xml" src="/assets/img/telegram-logo.svg"/>
                            <embed type="image/svg+xml" src="/assets/img/viber-logo.svg"/>
                        </div>
                    </div>
                    <div class="footer-nav">
                        <ul>
                            <li class="active-nav">
                                Главная
                            </li>
                            <li>
                                Живые раки
                            </li>
                            <li>
                                Жареные раки
                            </li>
                            <li>
                                Вареные раки
                            </li>
                            <li>
                                Ассортимент
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="red-line">
        </div>
    </footer>
    <div id="overlay" style="display: none">
        <div class="red-content">
            <div id="shopping-cart">
                <embed type="image/svg+xml" src="/assets/img/shopping-cart.svg"/>
            </div>
            <div class="check-shopping">
                <p>
                    Точно всё выбрал?
                </p>
                <h4>
                    Проверяй и оформляй
                </h4>
            </div>
            <div class="cart-container cartItems">
                <div class="order">
                    <img src="{{ asset('assets/img/test.jpg') }}" alt="">
                    <div class="order-product-name">
                    </div>
                </div>
            </div>
            <embed id="close-modal" type="image/svg+xml" src="/assets/img/close-modal.svg"/>
        </div>
    </div>
{% endblock %}