{% extends 'base.html.twig' %}

{% block body %}
    <p>Мы успешно приняли ваш заказ в обработку! <br>Вы сможете оплатить его после подтверждения администратором, в вашем личном кабинете во вкладке "Мои заказы"!</p>
{% endblock %}