{% extends 'base.html.twig' %}

{% block body %}
    <h2>Добро пожаловать в клуб гурманов!!</h2>
        <br>
    <p>Ураа! Вы успешно зарегестрировались, перейдите по ссылке для подтверждения: </p>
    <p>{{ url('confirmation',{'token': user.token}) }}</p>
{% endblock %}
