{% extends 'base.html.twig' %}

{% block body %}
    <p>Нажмите на кнопку что бы сьросить пароль</p>
    <button type="button" class="btn btn-danger" onclick="window.location.href='{{ path('resetPassword',{'token': user.token}) }}'">Сбросить пароль</button>
{% endblock %}