{% extends 'base.html.twig' %}

{% block body %}
    <h2>Запрос на изменение пароля!</h2>
        <br>
    <p>Перейдите по ссылке, что бы сбросить пароль:</p>
    <p>{{ url('newPassword',{'passToken': user.passToken}) }}</p>
{% endblock %}
