{% extends 'base.html.twig' %}

{% block body %}
    <h2>Добро пожаловать в клуб гурманов!</h2><br>
    <p>Ваш: Логин - <b>{{ user.email }}</b> и  временный Пароль - <b>{{ temporaryPass }}</b></p>
{% endblock %}

