{#
{% extends 'base.html.twig' %}
{% block body %}
    <div style="color: white">
        <h3> Congrats! You have already confirm your order! We call you in 5-10 min to confirm your order!</h3>
        <p>There are your login - <b>{{ email }}</b> and temporary password - <b>{{ password }}</b> from yuor acc.<br> We duolicate it to your email and phone number</p><br>
        <p>Here you can check status of your order and then pay for it</p>
    </div>
{% endblock %}#}
{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}
{% block body %}
    <section class="wrapper">
        <div class="container">
            <div class="container-inside">
                {% include 'elements/__header.html.twig' with {'active': false} %}
                <main>
                    {% include 'elements/additionalNav.html.twig' %}
                    <div class="small-red-content text-center attention-pt attention-height">
                        <embed id="pizza" type="image/svg+xml" src="/assets/img/pizza.svg"/>
                        <span class="attention-title">Поздравляем! Вы успешно оформили заказ! Мы неберем вам через 15-10 мин для подтверждения.</span><br>
                        <span class="attention-subtitle">Ваш логин - <b> {{ email }} </b> и временный пароль - <b> {{ password }} </b> от вашего аккаунта. <br> Мы отправляем его на ваш электронный адрес и номер телефона<br>
                                        В личном кабинете вы можете проверить статус вашего заказа, а затем оплатить его</span>
                    </div>
                    <div class="attention-promotion">
                        <div class="bonuses-in-attention">
                            100/<span class="bonus-bold">2000</span>
                        </div>
                        <div class="promotion-title">
                            <span class="attention-subtitle">Купи товаров на 2000 грн за всё время</span>
                            <span class="attention-title">Получи Рыбу в подарок</span>
                        </div>
                        <div class="scale">
                            <div class="scale-section"></div>
                            <div class="scale-section"></div>
                            <div class="scale-section"></div>
                            <div class="scale-section"></div>
                            <div class="scale-section"></div>
                            <div class="scale-section"></div>
                            <div class="scale-section"></div>
                            <div class="scale-section"></div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        {% include 'elements/__footer.html.twig' with {'active': false} %}
        {% include 'elements/mobile-nav.html.twig' with {'mob_active': false}  %}
    </section>
{% endblock %}

