{% extends 'base.html.twig' %}
{% block body %}
    <div style="color: white">
        <h3> Congrats! You have already confirm your order! We call you in 5-10 min to confirm your order!</h3>
        <p>There are your login - <b>{{ email }}</b> and temporary password - <b>{{ password }}</b> from yuor acc.<br> We duolicate it to your email and phone number</p><br>
        <p>Here you can check status of your order and then pay for it</p>
    </div>
{% endblock %}